* text=auto !eol
/Makefile -text
include/REV.h -text
include/REVCameras.h -text
include/REVConfig.h -text
include/REVConsole.h -text
include/REVFonts.h -text
include/REVHBMenu.h -text
include/REVLights.h -text
include/REVMaterials.h -text
include/REVMaths.h -text
include/REVMd5.h -text
include/REVModels.h -text
include/REVNodes.h -text
include/REVObjects.h -text
include/REVPhysics.h -text
include/REVQBsp.h -text
include/REVResourceMgr.h -text
include/REVScreen.h -text
include/REVScript.h -text
include/REVSkybox.h -text
include/REVTime.h -text
include/REVUtils.h -text
include/lua/lapi.h -text
include/lua/lauxlib.h -text
include/lua/lcode.h -text
include/lua/ldebug.h -text
include/lua/ldo.h -text
include/lua/lfunc.h -text
include/lua/lgc.h -text
include/lua/llex.h -text
include/lua/llimits.h -text
include/lua/lmem.h -text
include/lua/lobject.h -text
include/lua/lopcodes.h -text
include/lua/lparser.h -text
include/lua/lstate.h -text
include/lua/lstring.h -text
include/lua/ltable.h -text
include/lua/ltm.h -text
include/lua/lua.h -text
include/lua/luaconf.h -text
include/lua/lualib.h -text
include/lua/lundump.h -text
include/lua/lvm.h -text
include/lua/lzio.h -text
source/REV.cpp -text
source/REVCameras.cpp -text
source/REVConsole.cpp -text
source/REVFonts.cpp -text
source/REVHBMenu.cpp -text
source/REVLights.cpp -text
source/REVMaterials.cpp -text
source/REVMaths.cpp -text
source/REVMd5.cpp -text
source/REVModels.cpp -text
source/REVNodes.cpp -text
source/REVObjects.cpp -text
source/REVPhysics.cpp -text
source/REVQBsp.cpp -text
source/REVResourceMgr.cpp -text
source/REVScreen.cpp -text
source/REVScript.cpp -text
source/REVSkybox.cpp -text
source/REVTime.cpp -text
source/fontface.s -text
source/lua/lapi.c -text
source/lua/lauxlib.c -text
source/lua/lbaselib.c -text
source/lua/lcode.c -text
source/lua/ldblib.c -text
source/lua/ldebug.c -text
source/lua/ldo.c -text
source/lua/ldump.c -text
source/lua/lfunc.c -text
source/lua/lgc.c -text
source/lua/linit.c -text
source/lua/liolib.c -text
source/lua/llex.c -text
source/lua/lmathlib.c -text
source/lua/lmem.c -text
source/lua/loadlib.c -text
source/lua/lobject.c -text
source/lua/lopcodes.c -text
source/lua/loslib.c -text
source/lua/lparser.c -text
source/lua/lstate.c -text
source/lua/lstring.c -text
source/lua/lstrlib.c -text
source/lua/ltable.c -text
source/lua/ltablib.c -text
source/lua/ltm.c -text
source/lua/lua.c -text
source/lua/lundump.c -text
source/lua/lvm.c -text
source/lua/lzio.c -text
source/lua/print.c -text
source/main.cpp -text
source/ttf/font.ttf -text
